/* Created by: dominik
* Created on: March 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 10pt;
}

.mdl-textfield__error {
  color: rgb(119 43 226);
}

.page-content {
  color: rgb(13 180 221);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.page-content-answer {
  color: rgb(72 6 87);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.right-image {
  height: auto;
  width: 250px;
  float: right;
}

body {
  background-color: rgb(192, 99, 208);
}

img {
  float: right;
  width: 400px;
  height: auto;
}